<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->
    </head>
    <body ng-app="monitorApp">

        <div ng-controller="ListCtrl">
            <h2>Monitored addresses <small>({{addresses.length}})</small></h2>

            <ul>
                <li ng-repeat="a in addresses">
                    <strong>{{a.label}}</strong>
                    <span class="text-muted">{{a.address}}</span>
                    <a class="text-danger glyphicon glyphicon-remove" ng-click="remove(a)"></a>
                </li>
            </ul>

            <form ng-submit="addAddr()">
                <input ng-model="label"
                    placeholder="Label (optional)"
                    type="text"

                    maxlength="10" />

                <input ng-model='address'
                    placeholder="Bitcoin address"
                    type="text"
                    size="34"

                    maxlength="34"
                    pattern="^[13][a-km-zA-HJ-NP-Z0-9]{26,33}$"
                    required />

                <input
                    type="submit"
                    class="btn btn-primary"
                    value="add" />
            </form>
        </div>


        <div ng-controller='OptsCtrl'>
            <h2>Display as</h2>
            <form>
                <label class="radio-inline">
                    <input type="radio" ng-model="displayOption" value="usd" checked> $ (USD)
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="displayOption" value="xbt"> ฿ (XBC)
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="displayOption" value="mxbt"> m฿ (mXBC)
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="displayOption" value="uxbt"> μ฿ (μXBC)
                </label>
            </form>

        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/options.js -->
        <script src="scripts/options.js"></script>
        <!-- endbuild -->
    </body>
</html>

<!-- show in USD -->

<!-- BTC; milli; nano -->